
<div>

  <!-- Footer -->
<footer class="page-footer font-small pt-4" style="color: white;background-color: #4e2cca;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-center">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3">

        <!-- Content -->
        <img class="navimg" src="/images/navimg.png" alt="">
        <h5 class="text-uppercase">Be FOUND</h5>
        <p>Your match is just a click away!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">


        <ul class="list-unstyled" style="font-weight: bold;">
          <li>
            <a href="/" style="text-decoration: none; color: white;">Home</a>
          </li>
          
          <li>
            <a href="/search" style="text-decoration: none; color: white;">Search</a>
          </li>
          <li>
            <a href="/profile/newsfeed" style="text-decoration: none; color: white;">Profile</a>
          </li>
          
        </ul>

      </div>
      
      <div class="col-md-4 mb-md-0 mb-3">

      </div>
    </div>
    

  

  <h5 style="font-weight: lighter;">Email: infinityJobs3@gmail.com</h5>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="/"> beFound.com</a>
  </div>
  <!-- Copyright -->
</div>
</footer>
<!-- Footer -->

</div>
 