<div>
  <!-- Footer -->
  <footer class="page-footer font-small pt-4" style="color: white; background-color: black;">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-center">
      Footer 
    </div>
  </footer>
  <!-- Footer -->

</div>