<!---Left Card that shows up on profile screen-->

<div class="card shadow-lg p-3 mb-5 bg-white" style="width: 18rem; border-radius: 50px;
        opacity:90%;">
    <img class="card-img-top " style="border-radius: 50%;" src="/images/intro.jpg" alt="Error">
    <div class="card-body">
        <h5 class="card-title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              text-align: center;
              font-size: 1.5em;
              color: darkmagenta;">
            <%= user.username %>
        </h5>
        <p style="color: grey;">
            <%= user.bio %>
        </p>
        <p style="color: black; font-size: 1.2em "><b>
                <%= user.city %>
            </b></p>


        <hr style="width:50%; background-color:rgb(114, 15, 180)">
        </hr>
        <div class="text-center"><a href="/userProfile/editProfile" class="btn btn-primary center">Edit Profile</a></div>
    </div>
</div>