<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="/styles/howitworks.css" type="text/css">

<!-- end about -->
 <div class="howitworks">

<div class="section-header">
    <h6 >
        Meet New People Today!
    </h6>
    <h2 > How Does It Work?
    </h2>
    <p > You’re just 3 steps away from a great date
    </p>
</div>
   <div class="howitworkscontent row">

      <!-- card -->
      
      <div class="card col-md-4 col-xl-3">
          
<!--          
            <div class="icon"><i class="material-icons md-36">face</i></div> -->
            <div class= "number_icon">01</div>
            <div>
                <img class="howitworks_img" src="images/icon1.png"/>
            </div>
            <p class="title">Tell us who you are!</p>
           
         
      </div>
      <!-- end card -->
      <!-- card -->
      <div class="card col-md-4 col-xl-3">
        <div class= "number_icon">02</div>
        <div>
            <img class="howitworks_img" src="images/icon2.png"/>
        </div>
            <p class="title">Find the Right Person!</p>
            
      </div>
      <!-- end card -->
      <!-- card -->
      <div class="card col-md-4 col-xl-3">
        <div class= "number_icon">03</div>
        <div><img class="howitworks_img" src="images/icon3.png"/>
        </div>    
        <p class="title">Start Dating!</p>
           
      </div>
      <!-- end card -->

   
   </div>
</div>
</div>