
<link rel="stylesheet" href="/styles/section1side.css" type="text/css">

<div class="section1_side">
    <div class="row">
        <div class="col-xl-4 col-lg-5">
            <h1 class="side_title">
                Are you Waiting??
            </h1>
            <h1 class="side_title">
                For Dating!!
            </h1>
        </div>
    </div>
</div>