<link rel="stylesheet" href="/styles/section1.css" type="text/css">


<section class="banner-section">
    <img class="img1" src="/images/aimg1.png" alt="">
    <img class="img2" src="images/aimg2.png" alt="">
    <%-include('section1side')  %>
</section>