
<link rel="stylesheet" href="/styles/section1side.css" type="text/css">

<div class="section1_side">
    <div class="">
        <div class="">
            <h2 class="side_title" style="font-family: 'Libre Baskerville', serif;">
                <p>Glued to Screen ?</p>
            </h2>
            <h5 class="side_title" style="font-family: 'Libre Baskerville', serif;">
                <p>Why not do something good ?</p>
                <p>Register today and <bold style="color: orangered;">BE FOUND ...</bold></p> 
            </h5>
        </div>
    </div>
</div>