<link rel="stylesheet" href="/styles/profileCard.css" />
<div class="users-container">
    <div class="chat-search-box">
        <div class="input-group">
            <input class="form-control" placeholder="Search for friends">
            <div class="input-group-btn">
                <button type="button" class="btn btn-info">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <ul class="users" style="list-style-type: none;">
        <li class="person">
            <div class="user">
                <img src="https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.png"  alt="" style="border-radius: 50%;">
                <!-- <span class="status busy"></span> -->
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
                <span class="time">15/02/2019</span>
            </p>
        </li>
        <li class="person">
            <div class="user">
                <img src="https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.png"  alt="" style="border-radius: 50%;">
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
                <span class="time">15/02/2019</span>
            </p>
        </li>
        <li class="person active-user" >
            <div class="user">
                <img src="https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.png"  alt="" style="border-radius: 50%;">
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
                <span class="time">12/02/2019</span>
            </p>
        </li>
        <li class="person">
            <div class="user">
                <img src="https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.png"  alt="" style="border-radius: 50%;">
              
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
                <span class="time">11/02/2019</span>
            </p>
        </li>
        <li class="person">
            <div class="user">
                <img src="https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.png"  alt="" style="border-radius: 50%;">
               
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
                <span class="time">08/02/2019</span>
            </p>
        </li>
        <li class="person">
            <div class="user">
                <img src="https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.png"  alt="" style="border-radius: 50%;">
               
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
                <span class="time">05/02/2019</span>
            </p>
        </li>
    </ul>
</div>