<link rel="stylesheet" href="/styles/profileCard.css" type="text/css"/>
<div class="users-container">
    <div class="chat-search-box">
        <div class="input-group">
            <input class="form-control" placeholder="Search for friends">
            <div class="input-group-btn">
                <button type="button" class="btn btn-info">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <ul class="users" style="list-style-type: none;">
        <% conversation.forEach(function(c){ %>
            <a style="color: black;" href="/conversation/find/<%= c.members[0]._id %>/<%= c.members[1]._id %>  ">
        <li class="person">
            <div class="user">
                
                <% if (c.members[1].displayPicture) {%> 
                    <img  src="/image/<%= c.members[1].displayPicture %>" alt="altt" style="border-radius: 50%;">
                    <% }else{ %> 
                    <img  src="https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.png"  alt="" style="border-radius: 50%;">
                    <% } %> 
            </div>
            <p class="name-time">
                <span class="name"><%= c.members[1].username %></span>
                <span class="time">15/02/2019</span>
            </p>
        </li>
    </a>
        <% }); %> 
        <!-- <li class="person">
            <div class="user">
                <img src="https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.png"  alt="" style="border-radius: 50%;">
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
                <span class="time">15/02/2019</span>
            </p>
        </li>
        <li class="person active-user" >
            <div class="user">
                <img src="https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.png"  alt="" style="border-radius: 50%;">
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
                <span class="time">12/02/2019</span>
            </p>
        </li>
        <li class="person">
            <div class="user">
                <img src="https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.png"  alt="" style="border-radius: 50%;">
              
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
                <span class="time">11/02/2019</span>
            </p>
        </li>
        <li class="person">
            <div class="user">
                <img src="https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.png"  alt="" style="border-radius: 50%;">
               
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
                <span class="time">08/02/2019</span>
            </p>
        </li>
        <li class="person">
            <div class="user">
                <img src="https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.png"  alt="" style="border-radius: 50%;">
               
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
                <span class="time">05/02/2019</span>
            </p>
        </li> -->
    </ul>
</div>