<link rel="stylesheet" href="/styles/profileCard.css" type="text/css" />
<div class="users-container">
    <h4 class="text-center" style="">Online Users</h4>
    <hr>
    <ul class="users" style="list-style-type: none;">
        <li class="person">
            <div class="user">
                <img src="https://img1.pnghut.com/1/16/10/nrdkyKR0fe/symbol-figure-icon-portrait-customer-redm.jpg"  alt="" style="border-radius: 50%;">
                <span class="status online"></span> 
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
            </p>
        </li>
        <li class="person">
            <div class="user">
                <img src="https://img1.pnghut.com/1/16/10/nrdkyKR0fe/symbol-figure-icon-portrait-customer-redm.jpg"  alt="" style="border-radius: 50%;">
                <span class="status online"></span> 
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
            </p>
        </li>
        <li class="person active-user" >
            <div class="user">
                <img src="https://img1.pnghut.com/1/16/10/nrdkyKR0fe/symbol-figure-icon-portrait-customer-redm.jpg"  alt="" style="border-radius: 50%;">
                <span class="status online"></span> 
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
            </p>
        </li>
        <li class="person">
            <div class="user">
                <img src="https://img1.pnghut.com/1/16/10/nrdkyKR0fe/symbol-figure-icon-portrait-customer-redm.jpg"  alt="" style="border-radius: 50%;">
              <span class="status online"></span> 
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
            </p>
        </li>
        <li class="person">
            <div class="user">
                <img src="https://img1.pnghut.com/1/16/10/nrdkyKR0fe/symbol-figure-icon-portrait-customer-redm.jpg"  alt="" style="border-radius: 50%;">
               <span class="status online"></span> 
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
            </p>
        </li>
        <li class="person">
            <div class="user">
                <img src="https://img1.pnghut.com/1/16/10/nrdkyKR0fe/symbol-figure-icon-portrait-customer-redm.jpg"  alt="" style="border-radius: 50%;">
               <span class="status online"></span> 
            </div>
            <p class="name-time">
                <span class="name">Payal Sharma</span>
            </p>
        </li>
    </ul>
</div>