<link rel="stylesheet" href="styles/chatmiddle.css">

<div class="chatWrapper">
<div class="chatBoxTop" style="overflow: auto;">
    <%- include('message') %> 
    <%- include('message') %> 
    <%- include('message') %> 
</div>
<div class="chatBottomBox">
    <div class="row">
    <div class="col-11 ">
    <textarea class="chatMessageInput" placeholder="Write something..."></textarea>
    </div>
    <div class="col-1 text-center" style="margin-top: 18px; padding-left: 0px;">
    <button class="chatSubmitButton ">Send</button>
    </div>
</div>
</div>
</div>