<link rel="stylesheet" href="styles/message.css">

<div class="message">
    <div class="messageTop">
        <img src="https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.png" alt=""
            class="messageImg">
        <p class="messageText">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos iusto tempora, nemo eius laboriosam sed ullam
            tenetur mollitia, consequuntur quaerat sunt iure non aspernatur, nobis quod quo asperiores expedita ab.
            Ratione vitae amet magni quam quaerat illum necessitatibus mollitia. Alias.
        </p>
    </div>
    <div class="messageBottom"> 1 hr ago</div>
</div>

<!-- own messages -->
<div class="message own">
    <div class="messageTop">
        <img src="https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.png" alt=""
            class="messageImg">
        <p class="messageText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo odit quisquam sit praesentium animi odio
            corporis blanditiis temporibus velit corrupti placeat molestias quas reiciendis consectetur, aliquam
            similique obcaecati fugiat amet necessitatibus provident laboriosam quasi quis maxime.
        </p>
    </div>
    <div class="messageBottom"> 1 hr ago</div>
</div>