<div class="col">

  <div class="card text-center shadow rounded overflow-hidden" >

    <div class="card-body" style="padding-left:2px; padding-right: 2px;">
      <!--<h5 class="card-title">Create Post</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.
      </p>--->
      <img src="/images/cam.jpg" id="post-img" class="img-fluid" >
      <button type="button" id="post-btn" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Create post........</button>
    </div>
  </div>
  
</div>