<div class=" px-3 " style="display: flex; justify-content: space-between;">
    <a href="#" onclick="return toggle('pg0')">Confirmed</a>
   <a href="#" onclick="return toggle('pg1')">Requested</a>
   <a href="#" onclick="return toggle('pg2')">Received</a>
</div>
<div id="datesOpt">
    <div id="pg0" class="datesOpt">Confirmed dates
        <div id="c-pg0" class="container">
            <div class="row">
              <div class="col">
                <div class="matches-card">
                  <div class="match-user">
                    <div class="row">
                      <div class="col-3">
      
                        
      
                      </div>
                      <div class="col-7 pl-5">
                        <h5><a href="#" class="profile-link">
                             match.username
                          </a></h5>
                        <p class="text-muted">500m away</p>
                      </div>
                      <div class="col-2">
                        <a href="#" class="btn btn-primary" style="
                            color: rgb(255, 255, 255);
                            background-image: linear-gradient(
                              166deg,
                              #f22876 0%,
                              #942dd9 100%
                            );
                          " data-toggle="modal" data-target="#dateModalCenter"><i class="fas fa-comments"
                            style="user-select: auto;"></i></a>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
          </div>
      
    </div>


    <div id="pg1" class="datesOpt">Requested Dates
      <div id="c-pg1" class="container">
        <div class="row">
          <div class="col">
            <div class="matches-card">
              <div class="match-user">
                <div class="row">
                  <div class="col-3">
  
                    
  
                  </div>
                  <div class="col-7 pl-5">
                    <h5><a href="#" class="profile-link">
                         match.username
                      </a></h5>
                    <p class="text-muted">501m away</p>
                  </div>
                  <div class="col-2">
                    <a href="#" class="btn btn-primary" style="
                        color: rgb(255, 255, 255);
                        background-image: linear-gradient(
                          166deg,
                          #f22876 0%,
                          #942dd9 100%
                        );
                      " data-toggle="modal" data-target="#dateModalCenter"><i class="fas fa-comments"
                        style="user-select: auto;"></i></a>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>



    <div id="pg2" class="datesOpt">Received Dates 

      <div id="c-pg2" class="container">
        <div class="row">
          <div class="col">
            <div class="matches-card">
              <div class="match-user">
                <div class="row">
                  <div class="col-3">
  
                    
  
                  </div>
                  <div class="col-7 pl-5">
                    <h5><a href="#" class="profile-link">
                         match.username
                      </a></h5>
                    <p class="text-muted">502m away</p>
                  </div>
                  <div class="col-2">
                    <a href="#" class="btn btn-primary" style="
                        color: rgb(255, 255, 255);
                        background-image: linear-gradient(
                          166deg,
                          #f22876 0%,
                          #942dd9 100%
                        );
                      " data-toggle="modal" data-target="#dateModalCenter"><i class="fas fa-comments"
                        style="user-select: auto;"></i></a>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>

    </div>
</div>


