<!--Modal for scheduling Date------------------------------------------------------------------------------>
<div class="modal fade" id="dateModalCenter" tabindex="-1" role="dialog" aria-labelledby="dateModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            

            <form id="dateRequest"  method="POST">
               
                <div class="modal-body" style="position: relative;">
                  
                    <div class="form-group row">
                        <label class="col-3" for="sdate">Date</label>
                        <input type="date" class="form-control col-8" width="100%" id="sdate" name="sdate"
                            aria-describedby="na" placeholder="dd-mm-yyyy" />
                    </div>
                
                    <div class="form-group row">
                        <label class="col-3" for="stime">Time</label>
                        <input type="time" class="form-control col-8" width="100%" id="stime" name="stime"
                            aria-describedby="na"  />
                    </div>
            
                    <div class="form-group row">
                        <label class="col-3" for="slocation">Location</label>
                        <input type="text" class="form-control col-8" id="slocation"  name="slocation"
                           />
                      </div>


                     
            
                      <div class="form-group row">
                        <label class="col-3" for="stheme">Date For ??</label>
                        <input type="text" class="form-control col-8" id="stheme" placeholder="movie, coffe etc. .... " name="stheme"
                        />
                      </div>
                        
                        
                        
                    
            
                </div>
                
            
            </form>



        </div>
    </div>
</div>




