<!--Modal for match found popup---------------------------------------------------------------------------->
<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="
            background-color: #4e2cca;
            padding-left: 40%;
            justify-content: center;
          ">
          <h5 class="modal-title" style="
              font-family: 'Libre Baskerville', serif;
              color: cornsilk;
              font-style: bold;
            ">
            Match Found
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="match">

            <% if (user.displayPicture == '{}') {%>
              <img src="/images/defaultDp.png"
              class="match-img" alt="altt">
             
              <%}else{%>
                <img src="<%= user.displayPicture.image %>" class="match-img" alt="altt" style="object-fit: cover;">
                
                <%}%>

                  <%if(likedUser!=null){%>

                    <% if (likedUser.displayPicture == '{}') {%>

                      <img src="/images/defaultDp.png" class="match-img" alt="altt">
                     
                      <%}else{%>
                        <img src="<%= likedUser.displayPicture.image %>" class="match-img" alt="altt" style="object-fit: cover;">
                       
                        <%}%>
                          <%}%>

          </div>
        </div>
        <div class="modal-footer" style="align-content: center; padding-right: 25%">
          <button type="button"  href="#options" onclick="showDetails('opt-match')" id="popup-button1" class="btn" data-dismiss="modal">
            Schedule Date
          </button>
          <button type="button" id="popup-button2" class="btn" data-dismiss="modal">
            Later
          </button>
        </div>
      </div>
    </div>
  </div>