<!--Modal for scheduling Date------------------------------------------------------------------------------>
<div class="modal fade" id="dateModalCenter" tabindex="-1" role="dialog" aria-labelledby="dateModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #4e2cca; padding-left: 40%; justify-content: center;">
                <h5 class="modal-title"
                    style="font-family: 'Libre Baskerville', serif; color: cornsilk; font-style: bold;">Fix your date!
                    </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>



            <div class="modal-body" style="position: relative;">

                data here

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="nodate" data-dismiss="modal">Discard</button>

                <button type="submit" class="btn btn-primary" id="date">Schedule</button>

            </div>


        </div>
    </div>
</div>