<link rel="stylesheet" href="/styles/optnewsfeed.css" type="text/css" />
<div class="row py-2" id="middle-row2">
  <div class="col">
    <div class="card">
      <div class="card-header py-0 px-0">
        <div class="row">
          <div class="col-10 row py-2">
            <a href="#" class="pl-4 pr-1">
              <% if (user.displayPicture) {%>
              <img
                class="navimg"
                src="/image/<%= user.displayPicture %>"
                alt="altt"
                style="border-radius: 50%"
              />
              <% }else{ %>
              <img
                class="navimg"
                src="https://img1.pnghut.com/1/16/10/nrdkyKR0fe/symbol-figure-icon-portrait-customer-redm.jpg"
                alt=""
                style="border-radius: 50%"
              />
              <% } %>
            </a>
            <div class="col">
            <h6 class="py-0 px-0 mb-0">Mahira Sharma</h6>
            <p class="mb-0" style="font-size: smaller;">Some place</p>
          </div>
          </div>
          <div class="col-2 py-3 text-right">
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>
      <div class="card-body px-0 py-0">
        <img
          src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.jpg"
          class="card-img-top"
          alt="Fissure in Sandstone"
          style="object-fit: contain;"
        />
      </div>
      <div class="card-footer py-0">
        <div class="icons row">
          <div class="col-9">
            <i class="bi bi-heart fa-2x px-2"></i>
            <i class="bi bi-chat-dots fa-2x px-2"></i>
            <i class="bi bi-share fa-2x px-2"></i>
          </div>
          <div class="col-3 text-right">
            <i class="bi bi-bookmark fa-2x"></i>
          </div>
        </div>
        <div class="about-post">
          <h6>104,424 likes</h6>
          <p></p>
          <h5>
            Mahira Sharma
            <span class="comment-content" style="font-size: small; color: rgb(39, 39, 38);"
              >i purple you.......bts v jk jimin jin jhope rm suga........love
              you infinity...</span
            >
          </h5>
          <a class="text-muted" href="#" style="text-decoration: none;">View all 69 comments</a>
          <h4>
            <% if (user.displayPicture) {%>
            <img
              class="commentimg"
              src="/image/<%= user.displayPicture %>"
              alt="altt"
              style="border-radius: 50%"
            />
            <% }else{ %>
            <img
              class="commentimg"
              src="https://img1.pnghut.com/1/16/10/nrdkyKR0fe/symbol-figure-icon-portrait-customer-redm.jpg"
              alt=""
              style="border-radius: 50%"
            />
            <% } %>
            <input
              type="text"
              placeholder="add a comment "
              style="margin-top: -10px; border-radius:20px;"
            />
          </h4>
          <p class="text-muted">26 minutes ago</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row" id="middle-row2">
  <div class="col">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">News Feed</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
</div> -->


