<div class="optionsWrapper">
   
        <div>
   <div  id="opt-newsfeed">
    <%- include('newsfeed') %> 
   </div>
   <div id="opt-profile">
    <%- include('detailedProfile') %> 
   </div>

   <div  id="opt-date">
    <%- include('dates') %> 
   </div>
   <div  id="opt-match">
     <%- include('matches') %> 
   </div>
 
</div>
   </div>