<% if (user.displayPicture) {%> 
    <img src="/image/<%= user.displayPicture %>" alt="altt" style="border-radius: 50%; object-fit: cover;">
    <% }else{ %> 
    <img  src="https://pbs.twimg.com/card_img/1472392722673811457/wMz62V7-?format=png&name=360x360"  alt="" style="border-radius: 50%;">
    <% } %> 
</a>