<% if (user.displayPicture == '{}') {%> 
    <img  src="/images/defaultDp.png"  alt="" style="border-radius: 50%;">
    
    <% }else{ %> 
        <img src="<%= user.displayPicture.image %>" alt="altt" style="border-radius: 50%; object-fit: cover;">
    <% } %> 
</a>