<% if (user.displayPicture) {%> 
    <img src="/image/<%= user.displayPicture %>" alt="altt" style="border-radius: 50%; object-fit: cover;">
    <% }else{ %> 
    <img  src="/images/defaultDp.png"  alt="" style="border-radius: 50%;">
    <% } %> 
</a>