<% if (user.displayPicture) {%> 
    <img src="/image/<%= user.displayPicture %>" alt="altt" style="border-radius: 50%; object-fit: cover;">
    <% }else{ %> 
    <img  src="https://img1.pnghut.com/1/16/10/nrdkyKR0fe/symbol-figure-icon-portrait-customer-redm.jpg"  alt="" style="border-radius: 50%;">
    <% } %> 
</a>