body,html {
    height: 100%;
   
  }
#chat-botCard{
    
   margin: 10px;
}
#col1
{
    padding: 2px;
    box-shadow:  0 5px 11px rgb(136, 4, 243);
    border-radius: 50px;
    align-items: center;
    font-family: cursive;
    align-content: center;
    background-color:white;
    
  }
  #col1:hover{
  transform: scale(1.1); 
}

.login__body{
  padding-top: 200px;
}
.bg {
    
   background-repeat: no-repeat;
    height: 100%;
    background-position: center;
background-size: cover;
}
.form-control {
    font-size: 16px;
    text-align: center;
    margin-bottom: 2px;
    transition: all 0.4s;
    box-shadow: none;
  }

  .form-control:focus {
    border-color: #5cb85c;
  }

  .form-control,
  .btn {
    border-radius: 50px;
    outline: none !important;
  }

  .signup-form {
    width: 100%;
    margin: 0 auto;
    border: ivory;
    border-radius: 50px;
    
  }

  .signup-form form {
    border-radius: 5px;
    margin-bottom: 20px;
    background:purple(29, 27, 27);
    opacity:90%;
    color:black;
    padding: 40px;
  }

  .signup-form a {
    color: #5cb85c;
  }

  .signup-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
  }

  .signup-form .hint-text {
    color: #999;
    text-align: center;
    margin-bottom: 20px;
  }

  .signup-form .form-group {
    margin-bottom: 20px;
  }

  .signup-form .btn {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
  }

  .signup-btn {
    text-align: center;
    border-color: #5cb85c;
    transition: all 0.4s;
  }

  .signup-btn:hover {
    background: #3402a7;
    opacity: 0.8;
  }
  
