.dtopt a{
    text-decoration: none;
}
.dtopt a:hover{
    text-decoration: none;
    color: rgb(235, 22, 93);
}


.dates-card .date-use{
    padding: 20px 0;
    border-top: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
    margin-bottom: 20px;
  }
  .dates-card:hover{
    transform: scale(1.08);
  box-shadow: 0 9px 47px 11px rgba(192, 36, 179, 0.18);
  }
  