.about-post .commentimg{
    width: 20px;
    height: 20px;
}
.about-post .comment-content{
    text-size-adjust:  30px;
}

.about-post input{
    width:90%;
    border:0;
    font-family:"Oxygen";
    padding-left:10px;
    margin-top:-10px;
  }
 #post-comment{
    border-radius:50%; width:45px; 
    height:40px;
    padding-left: 0px;
    padding-right:10px;
    margin-top:0px;
    margin-right:12px;
    opacity: 1;
    font-weight: bolder;

 } 
