.profile__body{
    padding-top: 77px;
}

#middle{
    border-color: rgb(0, 0, 0);
    border-width: 15px;
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    box-shadow: 10%;
}


#right{
    border-color: rgb(0, 0, 0);
    border-width: 90%;
    background-color: white;
    height:90%;
    border-radius: 10%;
}
#popup-button1,#popup-button2,#post1,#post2,#date,#nodate{
    border-color: #4e2cca;
    border-width:2px; 
    background-color: #3700ff;
    color: #fafafc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    
}
#popup-button1:hover,#popup-button2:hover,#post1:hover,#post2:hover,#date:hover,#nodate:hover{
    border-color:#3700ff;
    border-width:2px; 
    background-color: #fafafa;
    color: #2c08ad;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.match{
    align-content: center;
    padding-left:28%;
}
.match-img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border:7px double #4e2cca;
    box-shadow: 3px 6px 9px rgb(161, 113, 250);
}
#post-btn{
    border-color:#3700ff;
    border-width:2px; 
    background-color: #fafafa;
    color: #2c08ad;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 85%;
    text-align: left;
}
#post-btn:hover{
    border-color: #4e2cca;
    border-width:2px; 
    background-color: #3700ff;
    color: #fafafc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    text-align: left;
    width: 85%;

}
#post-img{
    border-radius: 50%; 
    height:40px ;
    width:40px;
    border-style: double;
    border-color: #3700ff;
}




.options {
    width: 100%;
    /* background-color: cornflowerblue; */
    background-image: linear-gradient(
166deg, #f22876 0%, #942dd9 100%);
    margin-top: 50px;
    margin-bottom: 20px;
    overflow: auto;
  }
  
  .options a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four links of equal widths */
    text-align: center;
  }
  
  .options a:hover {
    color: #4e2cca
  }
  
  /* .options a.active {
    background-color: #a51de4;
  } */
  
  @media screen and (max-width: 100px) {
    .options a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }


  .datesOpt{
      display:none;
  }
