.banner-section{
    /* padding: 120px 0 800px;
    background: url(http://pixner.net/peyamba/peyamba/assets/images/banner/hero-banner.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;  */
    padding: 120px 0 700px;
    background: url(http://pixner.net/peyamba/peyamba/assets/images/banner/hero-banner.png);
    background-repeat: no-repeat;
    position: relative;
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}

.banner-section .img1 {
    position: absolute;
    right: 10%
}
.banner-section .img2 {
    position: absolute;
    right: 10%;
    top: 60%;
}